<div class="jumbotron">
  <h1 class="display-4"><%= t('welcome.welcome_translate') %></h1>
  <p class="lead"><%= t('welcome.welcome_describe')%></p>
  <hr class="my-4">
  <p><%= t('welcome.welcome_options')%></p>
    <%= render "menu" %>
 </div>

<p> Idioma (Helper) -> <strong> <%= traducao %> </strong> </p>
<p> <%= reloginho %> </p>
